#html, body{
  padding: 0;
  margin: 0;

  height: 100%;
  color:black;
}

body{
    background-color: black;
     background-position: center;
        width: 1280;
        height: 720;
}

h1{
    color:aqua;
}

#WhiteCanvas{
    position: absolute;
    border-inline-color: white;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);

}